<p>I'm a web developer at <a href='http://www.ctpboston.com'>Conover Tuttle Pace</a> in Boston. Most of the work I'm currently doing is in Rails and Backbone, but I've also built a slew of projects in Drupal and Wordpress. These vary from brouchure-style websites to ecommerce to backbone-based web apps. I'm most satisfied in my work when I'm collaborating with designers and producers to create interesting, consistent and logical UI's, and IA'a.
<div class='w400'>
  <hr />
</div>
