<div class='site-bio'>
  <p>I'm a web developer at <a href='http://www.ctpboston.com'>Conover Tuttle Pace</a> in Boston. Most of the work I'm currently doing is in Rails and Backbone, but I've also built a slew of projects in Drupal and Wordpress. These vary from brouchure-style websites to ecommerce to backbone-based web apps. I work well in small teams of focused, talented open-minded individuals where all members have input from conception to launch.</p>
  </div>

  <div class='w400'>

  <hr />
</div>
