<div class='site-footer'>
  <div class='w1000'>
    <div class='padding'>
      <h1 class='site-footer-thanks'>Thanks!</h1>

      <p>Thanks for checking out my work. Feel free to get in touch.</p>

      <div class='buttons'>
        <a class='button big' href='mailto:nvolungis@gmail.com'>Email Me</a>
        <a class='button big' href='resume'>See My Resume</a>
      </div>
    </div> 
  </div>
</div>
