<div class='invertable-bar-area'
  data-0='overflow:visible'
  data-100='overflow:hidden'>

  <div class='invertable-bar invertable-bar-light' 
    data-101='transform:translate3d(0px, 0%, 0px)' 
    data-186='transform:translate3d(0px, -100%, 0px)'>

    <h1 class='site-name'
      data-0='transform:translate3d(0px, 40px, 0px) scale(1.5);'
      data-100='transform:translate3d(0px, 0px, 0px) scale(1);'
      data-101='transform:translate3d(0px, 0%, 0px) scale(1);'
      data-186='transform:translate3d(0px, 100%, 0) scale(1);'>
      Neil Volungis
    </h1>
  </div>

  <div class='invertable-bar invertable-bar-dark' 
    data-101='transform:translate3d(0px, 100%, 0px)' 
    data-186='transform:translate3d(0px, 0%, 0px)'>

    <h1 class='site-name' 
      data-101='transform:translate3d(0px,-100%, 0px)' 
      data-186='transform:translate3d(0px, 0%, 0px)'>
      Neil Volungis</h1>
  </div>
</div>
