<div class='invertable-bar-area'>
  <div class='invertable-bar invertable-bar-light' data-101='transform:translate3d(0px, 0%, 0px)' data-186='transform:translate3d(0px, -100%, 0px)'>
    <h1 class='site-name'>Neil Volungis</h1>
  </div>

  <div class='invertable-bar invertable-bar-dark' data-101='transform:translate3d(0px, 100%, 0px)' data-186='transform:translate3d(0px, 0%, 0px)'>
    <h1 class='site-name' data-101='transform:translate3d(0px,-100%, 0px)' data-186='transform:translate3d(0px, 0%, 0px)'>Neil Volungis</h1>
  </div>
</div>
