<figure class='responsive-animation desktop'>
  <div class='inner-frame area delay-0'>
    <div class='border border-top'></div>
    <div class='border border-right'></div>
    <div class='border border-bottom'></div>
    <div class='border border-left'></div>

    <div class='line-group heading delay-600'>
      <div class='line line-fat line-1'></div>
      <br />
      <div class='line line-medium line-2'></div>
      <div class='line line-medium line-3'></div>
      <div class='line line-medium line-4'></div>
    </div>

    <div class='callouts'>
      <div class='callout callout-1'>
        <div class='callout-circle delay-1000'>
          <div class='callout-circle-color'></div>
        </div>  

        <div class='callout-body'>
          <div class='line-group delay-1000'>
            <div class='line line-medium line-1'></div>
            <div class='line line-2'></div>
            <div class='line line-3'></div>
            <div class='line line-4'></div>
          </div>
        </div>
      </div> 

      <div class='callout callout-2 '>
        <div class='callout-circle delay-1200'>
          <div class='callout-circle-color'></div>
        </div>  

        <div class='callout-body'>
          <div class='line-group delay-1200'>
            <div class='line line-medium line-1'></div>
            <div class='line line-2'></div>
            <div class='line line-3'></div>
            <div class='line line-4'></div>
          </div>
        </div>
      </div> 

      <div class='callout callout-3 delay-1400'>
        <div class='callout-circle delay-1400'>
          <div class='callout-circle-color'></div>
        </div>  

        <div class='callout-body'>
          <div class='line-group delay-1400'>
            <div class='line line-medium line-1'></div>
            <div class='line line-2'></div>
            <div class='line line-3'></div>
            <div class='line line-4'></div>
          </div>
        </div>
      </div> 
    </div>


      <!-- <div class='bullet&#45;group '> -->
      <!--   <div class='bullet bullet&#45;1 delay&#45;1600'> -->
      <!--     <div class='dot'></div> -->
      <!--     <div class='bullet&#45;line bullet&#45;line&#45;1'></div> -->
      <!--     <div class='bullet&#45;line bullet&#45;line&#45;2'></div> -->
      <!--     <div class='bullet&#45;line bullet&#45;line&#45;3'></div> -->
      <!--   </div> -->
      <!--  -->
      <!--   <div class='bullet bullet&#45;2 delay&#45;1800'> -->
      <!--     <div class='dot'></div> -->
      <!--     <div class='bullet&#45;line bullet&#45;line&#45;2'></div> -->
      <!--     <div class='bullet&#45;line bullet&#45;line&#45;1'></div> -->
      <!--     <div class='bullet&#45;line bullet&#45;line&#45;3'></div> -->
      <!--   </div> -->
      <!--  -->
      <!--   <div class='bullet bullet&#45;3 delay&#45;2000'> -->
      <!--     <div class='dot'></div> -->
      <!--     <div class='bullet&#45;line bullet&#45;line&#45;3'></div> -->
      <!--     <div class='bullet&#45;line bullet&#45;line&#45;1'></div> -->
      <!--     <div class='bullet&#45;line bullet&#45;line&#45;2'></div> -->
      <!--   </div> -->
      <!-- </div> -->

  </div>
</figure>
