.fts {
  position: relative;
  @include box-sizing(border-box);

  .fts-avatar {
    position: absolute;  
    bottom: 0;
    max-height: 95%;
    max-width: 700px;
    width: 1000px;
  }
}

.fts-chapter {
  position: relative;
}

.fts-chapter-stretcher {
  position: absolute;
  top: -1000px;
  bottom: -1000px;
  right: 0;
  width: 60%;
}

.fts-introduction {
  height: 100%;
}

.fts-introduction-figure {
  top: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0;
  @include transition(opacity 300ms ease);

  .w1200 {
    position: relative;
    height: 100%;
  }

  &.active {
    opacity: 1;
  }
}

.fts-introduction-statement {
  width: 40%;
  float: right;
  height: 100%;
  @include box-sizing(border-box);
  padding: 0 30px;
}

.chapter-1 {
  height: 100%;
}

.chapter-1-2 {
  padding: 120px 20px 20px;
  background: white;
  text-align: center;
}

.chapter-2 {
  height: 100%;
  width: 100%;
  background: white;
  padding: 1px;
  text-align: center;
  left: 0;
  right: 0;

  h1 {
    margin-top: 30px;
  }

  .w1200 {
    height: 100%;
    width: 100%;
    position: relative;
  }
}

.chapter-two-statement {
  @include box-sizing(border-box);
  height: 100%;
  width: 38%;
  padding: 20px;
  text-align: left;
}

.chapter-3 {
  height: 100%;
  width: 100%;
  background: black;
}


.chapter-three-statement {
  width: 100%;
  color: white;
  margin-top: 100px;

  h1 {
   text-align: center;
   margin-bottom: 30px;
  }
}

.chapter-4 {
  height: 100%;
  width: 100%;
  background: white;

  .w1200 {
    height: 100%;
  }
}

.chapter-four-statement {
  width: 50%;
  float: left;
}

.chapter-four-figure {
  width: 50%;
  float: right;
  text-align: center;
}

.chapter-5 {
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  position: relative;
  z-index: 1;
}

.chapter-five-statement {
  text-align: center;

  h1 {
    margin-bottom: 100px;
  }

  p {
    line-height: 1.8em;
  }
}

.sentence-frag {
  vertical-align: middle;
  opacity: 0;
  @include transform(translateY(25px));
  @include transition(opacity 200ms ease, transform 200ms ease);

  &.fts,
  &.neil,
  &.dollars,
  &.happy {
    font-size: 1.5em; 
  }

  &.happy {
    border: 5px solid white;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    font-family: arial;
    @include inline-block();
    @include transform(rotate(90deg));

    .face {
      @include inline-block();   
      margin-top: .25em;
    }
  }
}

.active .sentence-frag {
  opacity: 1;
  @include transform(translateY(0));

  $frags: fts, plus, neil, equals, dollars, happy;

  @each $frag in $frags {
    $index: index($frags, $frag) - 1;

    &.#{$frag} {
      @include transition-delay($index * 100ms);
    }
  }

  &.happy {
    @include transform(translateY(0) rotate(90deg));
  }
}
