.heart {
  position: relative;
  width: 193px;
  height: 156px;
  @include inline-block();
  @include transition(transform 500ms $ease-out-back);
  @include transform(scale(2));

  &:before,
  &:after {
    position: absolute;
    content: '';
    left: 100px;
    top: 0;
    width: 100px;
    height: 160px;
    background: red;
    border-radius: 100px 100px 0 0;
    @include transform(rotate(-45deg));
    @include transform-origin(0 100%);
  }

  &:after {
    left: 0;
    @include transform(rotate(45deg));
    @include transform-origin(100% 100%);
  }

  &.active {
    @include transform(scale(3));
  }
}


