.heart {
  position: relative;
  width: 289px;
  height: 234px;
  @include inline-block();
  @include transition(transform 500ms $ease-out-back);
  @include transform(translateZ(0));

  &:before,
  &:after {
    position: absolute;
    content: '';
    left: 150px;
    top: 0;
    width: 150px;
    height: 240px;
    background: #da1f26;
    border-radius: 150px 150px 0 0;
    @include transform(rotate(-45deg));
    @include transform-origin(0 100%);
  }

  &:after {
    left: 0;
    @include transform(rotate(45deg));
    @include transform-origin(100% 100%);
  }

  &.active {
    @include transform(scale(1.5));
  }
}


