.responsive-animation {
  // margin-top: 50px;
  @include transform(scale(.3));
  @include inline-block();
  @include box-sizing(border-box);
  padding: 20px;
  border: 7px solid white;
  border-radius: 15px;

  .inner-frame {
    height: 100%;
    width: 100%;
    padding: 20px;
  }

  .heading {
    @include transition(margin 300ms ease);
    max-width: 90%;
    width: 500px;
    margin:40px auto 0;

    .line {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.desktop {
    width: 700px;
    height: 500px;
    padding: 20px 20px 40px 20px;
  }

  &.tablet {
   width: 550px; 
   height: 350px; 
   padding: 20px 20px 20px 20px;

   .heading {
      margin-top: 0px;
    }
  }

  &.mobile {
    width: 300px;
    height: 500px;
    padding: 20px 20px 20px 20px;

    .heading {
      margin-top: 0px;
    }
  }

  @media screen and (min-width: 400px){
    @include transform(scale(.4));
  }

  @media screen and (min-width: 500px){
    @include transform(scale(.6));
  }

  @media screen and (min-width: 600px){
    @include transform(scale(.8));
  }

  @media screen and (min-width: 700px){
    @include transform(scale(.55));
  }
  
  @media screen and (min-width: 900px){
    @include transform(scale(.75));
  }

  @media screen and (min-width: 1200px){
    @include transform(scale(1));
  }

  &.scaled {
  }
}

.active {
  .responsive-animation {
    @include transition(height 300ms ease, width 300ms ease, border 200ms ease 500ms);
    border-color: black;
  }
}
