.site-bio {
  text-align: justify;

  @media screen and (min-width: 600px){
    text-align: center;
  }
}

.site-body {
  .padding {
    margin-top: 80px;
  }
}

.no-touch .site-body {
  .padding {
    margin-top: 160px;

    @media screen and (min-width: 600px){
      margin-top: 200px;
    }
  } 
}
