<section class='fts fts-introduction'>
  <div class='fts fts-chapter chapter-1'>
    <div class='fts-introduction-statement'>
      <%= open_table_wrapper %>
        <div class='w1000'> 
          <h1>Hi I'm Neil</h1>
          <p>I'm currently a web developer at Conover Tuttle Pace right up Memorial Drive in the North end. In my 2.5 years there I've worked on projects for the likes of Assembly Row, Boston Boot Co. and Red Hat.</p>
        </div>
        <%= close_table_wrapper %>
    </div>
    <figure class='fts-introduction-figure'>
      <div class='w1200'>
        <%= image_tag 'avatar.svg', :class => 'fts-image fts-avatar' %>
      </div>
    </figure>
  </div>

  <div class='fts fts-chapter chapter-2'>
    <div class='w1000'>
      <h1>I specialize in Responsive Development</h1> 

      <%= render 'line_animations/responsive' %>
    </div>

  </div>



</section>

