<%= image_tag 'work-images/assembly-row.png', :class=> 'work-teaser-image' %> 

<div class='work-teaser-body'>
  <h3 class='work-teaser-title'>Assembly Row</h3>
  <p>Assembly Row is a massive urban redevelopment project mixing residential and commercial space located in the Sommerville neighbohood currently known as Assembly Square. With their grand opening fast approaching (May 2014) Assembly row tasked CTP with running their PR and creating a more modern, flexible web presence. In the interest of time, we advocated a single page site that would hold all the necessary information and unify all detail content under a single, modal-style ui element. The product is a slick, fast site that will take Assembly Row clear through their opening and serve as a solid base for future development.</p>
  <a href='http://assemblyrow.com'>Visit the site</a>
</div>
