<%= image_tag 'work-images/bbc.jpg', :class=> 'work-teaser-image' %> 

<div class='work-teaser-body'>
  <h3 class='work-teaser-title'>Boston Boot Company</h3>
  <p>Boston Boot Company is an online-only men's footwear startup. We created a landing page and branding that drove traffic to their tremendously successful Kickstarter campaign and created a stylized ecommerce website with Backbone/Marionette and Rails.</p>
  <a href='http://bostonbootco.com'>Visit the site</a>
</div>


