<%= image_tag 'work-images/boost.jpg', :class=> 'work-teaser-image' %> 

<div class='work-teaser-body'>
  <h3 class='work-teaser-title'>Boost</h3>
  <p>Boost is Conover Tuttle Pace's internal wellness program. We were tasked with creating a web app that would allow employees to track their participation in certain activities in exchange for bonunses at the end of each quarter. This was out first Rails / Backbone app as an agency, and we have recorded thousands of activities over the past year.</p>
</div>
