<%= image_tag 'work-images/hum.png', :class=> 'work-teaser-image' %> 

<div class='work-teaser-body'>
  <h3 class='work-teaser-title'>Hum Journal Website</h3>
  <p>In their own words, "Hum Journal is a publication designed to share and archive the creative work of visual artists and writers in the Greater Boston Area." I worked closely with the creators through multiple iterations to develop a website that had the look and feel they were going for. The site was built on rails is optimized for all devices.</p>
  <a href='http://humboston.com'>Visit the site</a>
</div>
