<%= image_tag 'work-images/lynch.jpg', :class=> 'work-teaser-image' %> 

<div class='work-teaser-body'>
  <h3 class='work-teaser-title'>Lynch Event Timeline</h3>
  <p>For <a href="http://thelynchfoundation">the The Lynch Foundation</a>'s 25th anniversary event,  we developed a web application to be projected into 7 physical frames (as large 8 ft x 6 ft). Because we only had a few hours to set up before the event, we created a ui that would allow us to position the image projections over the frames in the physical environment in real time. We also developed a 'control' ui that would allow us to use an iPhone to control the display via websockets.</p>
  <a href='/lynch-timeline'>See photos from the event</a>
</div>
