<%= image_tag 'work-images/rhel.jpg', :class=> 'work-teaser-image' %> 

<div class='work-teaser-body'>
  <h3 class='work-teaser-title'>Red Hat</h3>
  <p>Conover Tuttle Pace was tasked by Red Hat to bring awareness to their Red Hat Enterprise Linux platform. We developed a Drupal microsite that served as the cornerstone of their 'A Platform Without Boundaries' campaign. The site marries exciting visuals with practical data and integrates with Red Hat's existing CRM. We are also in the process of translating the site into 10 different languages.</p>
  <a href='http://rhel.redhat.com'>Visit the site</a>
</div>
