<%= image_tag 'work-images/rhel.jpg', :class=> 'work-teaser-image' %> 

<div class='work-teaser-body'>
  <h3 class='work-teaser-title'>Red Hat</h3>
  <p>Conover Tuttle Pace's was tasked by Red Hat to bring awareness to their Red Hat Enterprise Linux platform. We developed a Drupal microsite that served as the cornerstone of their 'A Platform Without Boundaries' campaign. The site marry's exciting visuals with practical data and integrates with Red Hat's existing CRM.</p>
  <a href='http://rhel.redhat.com'>Visit the site</a>
</div>
